
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6e8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
}

/* スクロール量 */
.scroll-area {
  height: 100vh;
  position: relative;
}

/* ロゴ（常に中央・スマホ基準） */
.logo-page {
  position: absolute;
	top: 1px;
  align-items: centere;
  
  width: 100%;
  max-width: 1200px
  z-index: 10;
}

/* 前景 */
.foreground {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
	z-index: 5;
	
}

.layer {
  position: absolute;
  will-change: transform;
}

.layer img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== スマホ基準配置 ===== */
		
.bg-red {
  top: 1px;
	left: 45%;
  width: 500px;
  max-width:900px;
}

.bg-green {
  top: 600px;
  left: 34%;
  width: 100%;
  max-width: 140px;
}

.blue-stack {
  top: 500px;
  left: 44%;
  width: 200px;
  max-width: 160px;
}

.bg-blue {
	top: 100px;
  left: 90%;
  width: 200px;
  max-width: 5000px;
}

.orange-pot {
  top: 650px;
  left: 55%;
  width: 100px;
  max-width: 160px;
}

.bg-green1 {
  top: 160px;
  right: 350px;
  width: 90px;
  max-width: 160px;
}
/* 縦長背景（途中から） */

.bg-long {
  position: static;
	margin-top: 500px;
  width: 100%;
  max-width: 1200px;
  
}
.name {
  position: static;
  width: 100%;
  max-width: 1200px;
  
  }

.sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  /*コンセプト後　*/
  .bg-7 {
    position: static;
	top: 1100px;
  width: 51px;
	max-width: 80px;
	margin-top: 20px;
}

  .bg-8 {
    position: static;
  top: 1200px;
  width: 54px;
  max-width: 80px;
   margin-top: 40px;
}

  .bg-9 {
    position: static
  top: 1300px;
  width: 46px;
	max-width: 80px;
	margin-top: 40px;
}

  .bg-10 {
    position: static;
  top: 1400px;
  width: 40px;
	max-width: 50x;
	margin-top: 40px;
}

  .bg-11 {
    position: static;
  top: 1500px;
  width: 80px;
  max-width: 160px;
   margin-top: 40px;
}
/*名前たち*/
h1 {
	margin-bottom: 50px;
	font-size: 9px;
}
.links {
	display: flex；
	flex-direction: column;
	text-align: center;
	color: #e83f22;
}

a {
  color: #e83f22;
}

.more-pod {
  display: inline-block;
  padding: 1px 12px;
  border: 0.5px solid #e83f22;
  text-decoration: none;
  border-radius: 999px;
	transition: background 0.2s, color 0.2s;
	font-size: 7px;
}

.more-mame {
  display: inline-block;
  padding: 1px 12px;
  border: 0.5px solid #e83f22;
  text-decoration: none;
  border-radius: 999px;
	transition: background 0.2s, color 0.2s;
	font-size: 7px;
	margin: 5px;
}

.more-taco {
  display: inline-block;
  padding: 1px 12px;
  border: 0.5px solid #e83f22;
  text-decoration: none;
  border-radius: 999px;
	transition: background 0.2s, color 0.2s;
	font-size: 7px;
		margin: 5px;
}

.more-sky {
  display: inline-block;
  padding: 1px 12px;
  border: 0.5px solid #e83f22;
  text-decoration: none;
  border-radius: 999px;
	transition: background 0.2s, color 0.2s;
	font-size: 7px;
	margin: 5px;
}
			
.more-kama {
  display: inline-block;
  padding: 1px 20px;
  border: 0.5px solid #e83f22;
  text-decoration: none;
  border-radius: 999px;
	transition: background 0.2s, color 0.2s;
	font-size: 7px;
	margin: 5px;
}

@media (hover: hover) {
  .more-pod:hover {
    background: #e83f22;
    color: #fff;
  }

.more-mame:hover {
  background: #e83f22;
  color: #fff;
	}
	.more-taco:hover {
  background: #e83f22;
  color: #fff;
	}
	.more-sky:hover {
  background: #e83f22;
  color: #fff;
	}
	.more-kama:hover {
  background: #e83f22;
  color: #fff;
}
}
.adress {
	display: flex；
	flex-direction: column;
	text-align: center;
	color: #e83f22;
	font-size: 5px;
	margin-top: 80px;
}
.insta {
	margin: 7px;
}

footer {
	display: flex；
	flex-direction: column;
    font-size: 5px;
	margin-top: 100px;
	color: #e83f22;
	text-align: center;
}
/* ===== PC用微調整 ===== */
@media (min-width: 768px) {

  .logo-page {
    width: 100px;
  }

  .bg-red {
    right: -120px;
  }

  .bg-blue {
    right: -140px;
  }
}
